<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>

<% if user_signed_in? %>

  <li>
  <%= link_to('Users', users_index_path) %>
  </li>

  <li>
  <%= link_to('Houses', houses_path) %>
  </li>

  <li>
  <%= link_to('Country/Cities', country_cities_path) %>
  </li>

<% end %>

</ul>
<%= yield %>
<% if user_signed_in? %>
  <p>
    <span><%= current_user %></span>
  </p>
<% end %>

</body>
</html>
