<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @house.street %>
</p>

<p>
  <strong>User:</strong>
  <%= @house.user %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
