<!DOCTYPE html>
<html>
  <head>
    <title>ActionAuthorizer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="hmenu">
    <% if user_signed_in? %>
      <li>
      <%= link_to('Products', products_path) if authorized? :products, :index %>
      </li>
      <li>
      <%= link_to('Users', users_path) if authorized? :users, :index %>
      </li>
    <% else %>
      <%= link_to('Home', root_path) %>
    <% end %>

      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </ul>

    <%= yield %>
  </body>
</html>
